.products-modal__background {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.534);
}

.products-modal__container {
  position: relative;
  top: 2%;
  left: 14%;
  width: 50%;
  padding-bottom: 30px;
  border-radius: 10px;
  background-color: white;
}

.products-modal__imgContainer {
  width: 150px;
  margin: 20px auto;
}

.products-modal__imgContainer img {
  width: 100%;
}

.products-modal__header {
  margin: 0 0 20px;
  padding: 5px;
  border-radius: 10px 10px 0px 0px;
  background-color: #009550;
  color: white;
  font-family: "Paper Flower";
  font-size: 30px;
  text-align: center;
}

.products-modal__formField {
  margin: 10px 20px;
}

.products-modal__container button {
  display: flex;
  margin: auto;
  margin-top: 30px;
  padding: 6px 10px 6px 10px;
  border: none;
  border-radius: 25px;
  font-family: "Paper Flower";
  font-size: 30px;
  background-color: #009550;
  color: white;
}

.products-modal__container button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.products-itemContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 10px auto;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 4px 1px rgb(110, 109, 109) inset;
}

.products-itemImgContainer img {
  width: 150px;
}

.products-itemActions button {
  border: none;
  background-color: transparent;
  font-size: 16px;
}

.products-itemActions button:hover {
  color: #009550;
  cursor: pointer;
}

.products-tags {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;
}

.products-tags__label {
  text-transform: capitalize;
}

.products-tags input {
  color: black;
}

.switchOutter {
  display: flex;
  align-items: center;
  width: 50px;
  height: 25px;
  box-shadow: 0px 0px 5px 1px rgb(109, 108, 108) inset;
  border-radius: 25px;
}

.switchInner {
  width: 20px;
  height: 20px;
  margin: 0px 5px;
  background-color: #009550;
  border-radius: 50%;
  box-shadow: 0px 0px 3px 1px #00361d;
  transition: all ease 200ms;
}

.switchInner:hover {
  cursor: pointer;
}

.switchInner__off {
  background-color: red;
  box-shadow: 0px 0px 3px 1px rgb(87, 1, 1);
  transform: translateX(100%);
  transition: all ease 200ms;
}

.searchBar {
  display: flex;
  align-items: center;
  width: fit-content;
  border: 1px solid white;
  border-radius: 20px;
}

.searchBar input {
  color: inherit;
  background-color: transparent;
  border: none;
}

.searchBar input:focus-visible {
  outline: none;
}

.searchBar svg {
  margin-left: 5px;
}
