.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
  margin-top: 90px;
  padding: 10px;
  border-radius: 25px;
  background-color: #009550;
  color: white;
  text-transform: uppercase;
  box-sizing: border-box;
  font-family: 'Paper Flower';
  font-size: 30px;
}

.cart-header h2 {
  margin: 0;
  font-weight: 800;
}

.cart-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  margin: 10px auto 10px auto;
  box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.44);
  font-size: 20px;
  border-radius: 10px;
}

.cart-item img{
  width: 150px;
  align-self: center;
}

.cart-item__description {
  margin-bottom: 5px;
  font-size: 18px;
  width: 120px;
}

.cart-item__description p {
  font-size: 16px;
}

.cart-item__plus {
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-top: 5px;
  background-color: #009550;
  color: white;
}

.cart-item__minus {
  border: 1px solid #009550;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-top: 4px;
  padding-bottom: 0px;
  color: #009550;
  background-color: white;
}

.cart-footer button {
  border: none;
  outline: none;
  font-size: larger;
  font-weight: 800;
  text-transform: uppercase;
  background-color: #009550;
  color: white;
}

.cart-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
  padding: 10px   ;
  border-radius: 50px;
  font-size: larger;
  font-weight: 800;
  text-transform: uppercase;
  background-color: #009550;
  color: white;
}

.cart-footer__checkout {
  padding: 10px;
  border-radius: 50px;
  box-shadow: 0px 0px 2px 2px #145838 inset,
              0px 0px 1px 1px #222121 inset;
}

.cart-item__plus:hover {
  cursor: pointer;
  color: white;
  background-color: #145838;
}

.cart-item__minus:hover {
  cursor: pointer;
  color: #145838;
  background-color: white;
}

.cart-item__delete {
  background-color: transparent;
  border: none;
  color: #145838;
  cursor: pointer;
}

.cart-item__delete:hover {
  color: red;
}

.cart-footer__checkout:hover {
  cursor: pointer;
  background-color: #145838;
  color: white;
}