.carouselContainer {
  overflow: hidden;
  height: 410px;
}

.imgContainer {
  display: flex;
  transition: all 400ms ease-out;
  width: 100vw;
}

.imgContainer img {
  width: 100%;
}

.indicatorsContainer {
  margin-top: 20px;
  color: rgb(175, 175, 175);
  font-size: small;
}

.indicatorsContainer svg {
  margin: 0 3px 0 3px;
}

.indicatorsContainer svg:hover {
  color: rgb(92, 92, 92);
  cursor: pointer;
}

.indicatorsContainer .active {
  color: rgb(92, 92, 92);
}

@media (max-width: 768px) {
  .carouselContainer {
    height: auto;
  }
}