form label {
  font-family: 'Paper Flower';
  font-size: 24px;
}

.form-header {
  width: 90%;
  margin: auto;
  margin-top: 30px;
  border-radius: 25px;
  background-color: #009550;
  color: white;
  font-family: 'Paper Flower';
}

.form-field {
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: left;
  max-width: 300px;
}

form textarea {
  border-radius: 10px;
}

form button {
  display: flex;
  margin: auto;
  margin-top: 30px;
  padding: 6px 10px 6px 10px;
  border: none;
  border-radius: 25px;
  font-family: 'Paper Flower';
  font-size: 30px;
  background-color: #009550;
  color: white;
}

form button svg {
  margin-left: 5px;
}

form button:hover {
  cursor: pointer;
  background-color: #007a40;
}