.backoffice-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 30px auto;
  padding: 5px 15px;
  border-radius: 25px;
  background-color: #009550;
  color: white;
  font-family: "Paper Flower";
}

.backoffice-header button {
  display: flex;
  background-color: transparent;
  color: white;
  border: none;
  font-size: 30px;
}

.backoffice-header button:hover {
  color: #0dff8e;
  cursor: pointer;
}
