@font-face {
  font-family: "Paper Flower";
  src: url("/Fonts/Paper Flowers.ttf");
}

@font-face {
  font-family: "Bariol";
  src: url("/Fonts/bariol_regular-webfont.ttf");
}

@font-face {
  font-family: "Bariol";
  src: url("/Fonts/bariol_bold-webfont.ttf");
  font-weight: bold;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Bariol", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

a {
  color: inherit;
  text-decoration: none;
  width: fit-content;
  margin: 0;
}

h2 {
  font-weight: bold;
}

.titleUnderline {
  width: 60px;
  height: 4px;
  background-color: #009550;
  margin: auto;
}
